on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master
    workflow_dispatch:
    schedule:
        - cron: '0 6 * * 1'

name: py-check
jobs:
    py-check:
        runs-on: ${{ matrix.os }}
        name: ${{ matrix.os }} (${{ matrix.python-version }})
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest]
                python-version: ["3.7", "3.8", "3.9", "3.10", "3.11-dev"]
                include:
                  - os: macos-latest
                    python-version: "3.10"
                  - os: windows-latest
                    python-version: "3.10"

        env:
            SDKROOT: /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk
        steps:
            - name: CHECKOUT CODE
              uses: actions/checkout@v3
            - name: SETUP PYTHON
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install --user -r requirements_dev.txt
            - name: WBT-TEST
              run: |
                  python -m unittest discover tests/
